.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  font-size: 1.8rem;
}

.navbar-nav {
  flex: 1; 
  display: flex;
  justify-content: center; 
  gap: 1rem; 
}

.nav-link {
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-size: 1.3rem;
}

.nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.home-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
#cv {
  padding-top: 150px;
  padding-bottom: 150px;
}

.card img {
  max-height: 200px;
  object-fit: cover; 
}
